/data-analyze-imei-active/target/
/data-analyze-imei-lifecycle-times/target/
/data-analyze-imei-lifecycle-interval/target/
/data-analyze-uin-active/target/
/data-analyze-uin-lifecycle-intervale/target/
/data-analyze-uin-lifecycle-times/target/